<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    -->
    <div class="add-persons">
      <h2>Add Person</h2>
      <form method="POST" action="/addPerson">
        <input type="text" name="person-name" plceholder="Name"></input>
        <input type="submit" value="Add Person"></input>
      </form>
    </div>

    <div class="persons">
      <h2>Persons</h2>
      <ul>
          <%persons.forEach(function(person){ %>
            <li> <%=person.name %> </li>
            <%})%>
      </ul>
    </div>

    <div class="locations">
      <h2>Locations</h2>
      <ul>
        <% locations.forEach(function(location){ %>
          <li> <%=location%> </li>
        <% }) %>
      </ul>
    </div>

  </body>
</html>
